.home {
    text-align: center;
}

.sec {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sub-sec1{
    width: 45%;
}

.sub-sec2 {
    width: 50%;
}

.sec_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.title {
    color: gray;
    font-weight: 500;
}

.dropdown {
    background-color: rgb(201, 79, 201);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.dropbtn {
    color: white;
    padding: 5px 10px 5px 10px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content:hover {
      background-color: #f1f1f1
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.drop_text {
    font-size: 12px;
    padding: 5px 10px 5px 10px;
}

.drop_text:hover {
    border: 1px solid purple;
    color: purple;
    border-radius: 5px;
}

.box {
    height: 25rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
}

.poll {
    display: flex;
}

.poll_div {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.icon_div {
    background-color: rgb(247, 218, 165);
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.icon {
    padding: 1rem;
    font-size: 2rem;
    color: orange;
}

.text_div {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.text1 {
    font-weight: 500;
    color: gray;
}

.text_box {
    background-color: rgb(247, 218, 165);
    display: flex;
    align-items: center;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

.text2 {
    color: orange;
}

.poll_create {
    text-align: center;
    background-color: rgb(201, 79, 201);
    color: white;
    padding: 5px 0 5px 0;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

.all_results {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

.all_result_text {
    color: Black;
}

.box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.box2_text {
    padding: 1rem;
}

.clickers {
    display: flex;
    padding: 1rem;
}

.clicker_num {
    margin-left: .5rem;
    color: gray;
    padding: .5rem;
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
    z-index: 10;
}

.poll_box {
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.poll_display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;
}

.poll_name {
    width: 10%;
    font-weight: 500;
    color: gray;
}

.poll_show {
    width: 70%;
    height: 2rem;
}

.poll_show_1 {
    width: 30%;
    height: 100%;
    background-color: gray;
    border-radius: 2rem;
}

.poll_show_2 {
    width: 45%;
    height: 100%;
    background-color: gray;
    border-radius: 2rem;
}

.poll_show_3 {
    width: 63%;
    height: 100%;
    background-color: rgb(201, 79, 201);
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.poll_show_4 {
    width: 10%;
    height: 100%;
    background-color: gray;
    border-radius: 2rem;
}

.poll_icon {
    font-size: 1.5rem;
    color: white;
    padding-left: 5px;
}

@media only screen and (max-width: 600px) {
    .sec {
        flex-direction: column;
    }
    .sub-sec1 {
        width: 100%;
    }
    .sub-sec2 {
        padding-top: 2rem;
        width: 100%;
    }
}